
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.html {
  font-size: 62.5%;
}

.top-bar {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: static;
}
.top-bar .container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.top-bar .container .row {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .top-bar .container .row {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .top-bar .container .row .col {
    flex: 0 0 100%;
  }
}
.top-bar .container .row .col-num {
  flex: 0 0 20%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.top-bar .container .row .col-num .contact a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.top-bar .container .row .col-icons {
  flex: 0 0 55%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.top-bar .container .row .col-icons .icons-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: end;
}
@media (max-width: 600px) {
  .top-bar .container .row .col-icons .icons-div {
    justify-content: start;
  }
}
.top-bar .container .row .col-icons .icons-div a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.15);
}
.top-bar .container .row .col-btn {
  flex: 0 0 20%;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.top-bar .container .row .col-btn .get-free-qoute {
  text-align: center;
}
@media (max-width: 600px) {
  .top-bar .container .row .col-btn .get-free-qoute {
    text-align: start;
  }
}
.top-bar .container .row .col-btn .get-free-qoute .btn-quote {
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
  color: black;
}
.top-bar .container .row .col-empty {
  flex: 0 0 5%;
}

.navigation {
  height: 70px;
  background: white;
  /* Mobile navigation */
}
.navigation .brand {
  position: absolute;
  float: left;
  line-height: 70px;
  top: 10px;
  text-transform: uppercase;
  font-size: 1.4em;
}
@media (max-width: 800px) {
  .navigation .brand {
    padding-left: 20px;
  }
}
.navigation .brand a,
.navigation .brand a:visited {
  color: #000;
  text-decoration: none;
}
.navigation .nav-container {
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
}
.navigation nav {
  float: right;
}
.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation nav ul li {
  float: left;
  position: relative;
}
.navigation nav ul li a,
.navigation nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: white;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation nav ul li a:not(:only-child):after,
.navigation nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
.navigation nav ul li ul li {
  min-width: 190px;
}
.navigation nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.navigation .nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.navigation .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .navigation .nav-mobile {
    display: block;
  }
  .navigation nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  .navigation nav ul {
    display: none;
  }
  .navigation nav ul li {
    float: none;
  }
  .navigation nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  .navigation nav ul li ul li a {
    padding-left: 30px;
  }
  .navigation .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .navigation .nav-list {
    display: block !important;
  }
}
.navigation #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
.navigation #nav-toggle span,
.navigation #nav-toggle span:before,
.navigation #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
.navigation #nav-toggle span:before {
  top: -10px;
}
.navigation #nav-toggle span:after {
  bottom: -10px;
}
.navigation #nav-toggle.active span {
  background-color: transparent;
}
.navigation #nav-toggle.active span:before, .navigation #nav-toggle.active span:after {
  top: 0;
}
.navigation #nav-toggle.active span:before {
  transform: rotate(45deg);
}
.navigation #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
 /* hero_section */
.hero-section {
  background-image: url(../img/home-banner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

@media (max-width: 798px) {
  .hero-section {
    background-position: right;
  }
}
.hero-section .container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}
.hero-section .container .row {
  display: flex;
  flex-wrap: wrap;
}
.hero-section .container .row .col {
  flex: 0 0 auto;
  padding: 20px;
}
.hero-section .container .row .col .hero-sec {
  position: relative;
  z-index: 1;
}
@media (max-width: 800px) {
  .hero-section .container .row .col .hero-sec {
    padding: 20px;
  }
}
.hero-section .container .row .col .hero-sec h1 {
  font-size: 70px;
  line-break: anywhere;
  color: white;
  font-weight: 100;
}
@media (max-width: 400px) {
  .hero-section .container .row .col .hero-sec h1 {
    font-size: 45px;
  }
}

.latest-news {
  width: 100%;
  margin-top: 100px;
}
.latest-news .container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}
.latest-news .container .row {
  display: flex;
  flex-wrap: wrap;
}
.latest-news .container .row .latest-col1 {
  flex: 0 0 20%;
}
@media (max-width: 768px) {
  .latest-news .container .row .latest-col1 {
    flex: 0 0 100%;
  }
}
.latest-news .container .row .latest-col2 {
  flex: 0 1 60%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .latest-news .container .row .latest-col2 {
    flex: 0 0 100%;
  }
}
.latest-news .container .row .latest-col2 .latest-text {
  text-align: center;
}
.latest-news .container .row .latest-col2 .latest-text h2 {
  font-weight: 100;
  font-size: 35px;
}
.latest-news .container .row .latest-col2 .latest-text p {
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
}
.latest-news .container .row .latest-col3 {
  flex: 0 0 20%;
}
@media (max-width: 768px) {
  .latest-news .container .row .latest-col3 {
    flex: 0 0 100%;
  }
}

.card-sec {
  margin-top: 50px;
}
.card-sec .container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}
.card-sec .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-sec .container .row .col {
  flex: 0 0 33.3333%;
  padding: 10px;
}
@media (max-width: 800px) {
  .card-sec .container .row .col {
    flex: 0 0 50%;
  }
}
@media (max-width: 600px) {
  .card-sec .container .row .col {
    flex: 0 0 100%;
  }
}
.card-sec .container .row .col .card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.card-sec .container .row .col .card img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-sec .container .row .col .card .text {
  padding: 20px;
}
.card-sec .container .row .col .card .text h3 {
  font-weight: normal;
  margin-bottom: 20px;
}
.card-sec .container .row .col .card .text p {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}

.tabs-sec {
  width: 100%;
}
.tabs-sec .container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}
.tabs-sec .container .row {
  display: flex;
  flex-wrap: wrap;
}
.tabs-sec .container .row .col {
  flex: 0 0 100%;
  padding: 10px;
}
.tabs-sec .container .row .col .tabbed-module {
  padding: 20px;
  width: 100% !important;
}
.tabs-sec .container .row .col .tabbed-module nav {
  height: 36px;
  overflow: visible;
  display: block;
  margin-bottom: 5px;
}
.tabs-sec .container .row .col .tabs-content {
  margin-top: 30px;
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab {
  display: flex;
  flex-wrap: wrap;
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab {
  flex: 0 0 33.3333%;
  padding: 10px;
  display: grid;
}
@media (max-width: 800px) {
  .tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab {
    flex: 0 0 50%;
  }
}
@media (max-width: 600px) {
  .tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab {
    flex: 0 0 100%;
  }
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab .img-div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab .img-div {
    height: auto;
  }
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab .img-div .grow {
  display: contents;
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab .img-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab .img-div .category-text {
  padding: 10px 20px;
  text-align: center;
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab .img-div .category-text h3 {
  font-weight: normal;
}
.tabs-sec .container .row .col .tabs-content .selected .row-tab .col-tab .img-div .category-text p {
  color: rgba(0, 0, 0, 0.4);
}
.tabs-sec .container .row .col .tabs-content > div {
  display: none;
}
.tabs-sec .container .row .col .tabs-content > div.selected {
  display: block;
}
.tabs-sec .container .row .col img {
  max-width: 100%;
  height: auto;
}
.tabs-sec .container .row .col nav .tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  z-index: 1;
  position: relative;
}
.tabs-sec .container .row .col nav .tabs > li {
  border-bottom-width: 0;
  margin: 0 0 0 5px;
  border-radius: 3px 3px 0 0;
  list-style-type: none;
}
.tabs-sec .container .row .col nav .tabs > li > a {
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding: 10px 15px 8px;
  text-align: center;
  color: #666;
  position: relative;
}
.tabs-sec .container .row .col nav .tabs > li.selected {
  background: #FFFFFF;
}
.tabs-sec .container .row .col nav .tabs > li.selected > a {
  background: #FFFFFF;
  color: #666;
  top: 1px;
}
@media (max-width: 766px) {
  .tabs-sec .container .row .col .tabs {
    border: 1px solid #DCDCDC;
    border-radius: 3px;
  }
  .tabs-sec .container .row .col .tabs > li {
    flex: 1 1 100%;
    margin: 0;
    border: none;
    display: none;
    z-index: 10;
    order: 1;
    border-radius: 0;
  }
  .tabs-sec .container .row .col .tabs > li > a {
    text-align: left;
    margin: 1px;
  }
  .tabs-sec .container .row .col .tabs > li.selected {
    order: 0;
    display: block;
    padding-right: 30px;
  }
  .tabs-sec .container .row .col .tabs > li.selected > a {
    top: 0;
    position: relative;
  }
  .tabs-sec .container .row .col .tabs > li.selected > a:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #666 transparent transparent transparent;
    content: "";
    display: block;
    position: absolute;
    right: -30px;
    top: 0;
    margin: 15px;
  }
  .tabs-sec .container .row .col .tabs.active > li {
    display: block;
  }
  .tabs-sec .container .row .col .tabs.active > li:last-of-type {
    border-bottom: 0;
  }
  .tabs-sec .container .row .col .tabs.active > li.selected {
    padding-right: 0;
  }
  .tabs-sec .container .row .col .tabs.active > li.selected > a:after {
    border: none;
  }
}

.testimonial-sec {
  width: 100%;
  background-image: url(../img/testimonial-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  display: flex;
}
.testimonial-sec .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(37, 129, 220, 0.6705882353);
}
.testimonial-sec .container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}
.testimonial-sec .container .row {
  display: flex;
  flex-wrap: wrap;
}
.testimonial-sec .container .row .col {
  flex: 0 0 50%;
  padding: 10px;
}
@media (max-width: 600px) {
  .testimonial-sec .container .row .col {
    flex: 0 0 100%;
  }
}
.testimonial-sec .container .row .col .testimonial-div {
  background-color: white;
  min-height: 100px;
  z-index: 1;
  position: relative;
  padding: 20px;
}
.testimonial-sec .container .row .col .testimonial-div .inner-row {
  display: flex;
}
.testimonial-sec .container .row .col .testimonial-div .inner-row .inner-col-img {
  flex: 0 0 20%;
}
.testimonial-sec .container .row .col .testimonial-div .inner-row .inner-col-text {
  flex: 0 0 80%;
}
.testimonial-sec .container .row .col .testimonial-div .inner-row .inner-col {
  padding: 10px;
}
.testimonial-sec .container .row .col .testimonial-div .inner-row .inner-col .testimonial-img img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.testimonial-sec .container .row .col .testimonial-div .inner-row .inner-col .testimonial-text h3 {
  margin-top: 10px;
  font-weight: normal;
}
.testimonial-sec .container .row .col .testimonial-div .inner-row .inner-col .testimonial-text p {
  color: rgba(0, 0, 0, 0.4);
}

.footer {
  width: 100%;
  background-color: #212020;
  padding: 90px 0;
}
.footer .container {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}
.footer .container .row {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .row .footer-col-1 {
  flex: 0 0 20%;
}
.footer .container .row .footer-col-2 {
  flex: 0 0 60%;
}
.footer .container .row .footer-col-3 {
  flex: 0 0 20%;
}
.footer .container .row .col {
  padding: 10px;
}
@media (max-width: 800px) {
  .footer .container .row .col {
    flex: 0 0 50%;
  }
}
@media (max-width: 650px) {
  .footer .container .row .col {
    flex: 0 0 100%;
  }
}
.footer .container .row .col .footer-text h4 {
  color: rgba(255, 255, 255, 0.448);
  font-weight: normal;
  margin-bottom: 10px;
}
.footer .container .row .col .footer-text ul li {
  list-style-type: none;
}
.footer .container .row .col .footer-text ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.395);
  font-weight: 100;
  display: block;
  margin-bottom: 10px;
}
.footer .container .row .col .footer-text p {
  color: rgba(255, 255, 255, 0.395);
  font-weight: 100;
}
.footer .container .row .col .footer-text .input-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.footer .container .row .col .footer-text .input-group input {
  width: 50%;
  height: 40px;
  border: 1px solid transparent;
  padding: 14px;
  border-radius: 100px;
}
.footer .container .row .col .footer-text .input-group button {
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #2581DC;
  cursor: pointer;
  color: white;
}
.footer .container .row .col .footer-text .insta-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .row .col .footer-text .insta-row .insta-col {
  flex: 0 0 25%;
  padding: 3px;
}
.footer .container .row .col .footer-text .insta-row .insta-col .insta-img {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .row .col .footer-text .insta-row .insta-col .insta-img img {
  width: 100%;
}
.footer .container .copy-right-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.footer .container .copy-right-row .copy-right-col {
  flex: 0 1 auto;
  padding: 10px;
}
.footer .container .copy-right-row .copy-right-col .text-copy-right p {
  color: rgba(255, 255, 255, 0.395);
  font-weight: 100;
}
.footer .container .copy-right-row .copy-right-col .text-copy-right .develop {
  color: #2581DC;
  font-weight: 400;
}
.footer .container .copy-right-row .copy-right-col .icons-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer .container .copy-right-row .copy-right-col .icons-div a {
  background-color: black;
  display: flex;
  color: white;
  padding: 15px 20px;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */